<div 
  *ngIf="showModal"
  class="fixed inset-0 flex items-center justify-center bg-black/80 backdrop-blur-sm z-50"
>
  <div class="bg-white rounded-2xl w-80 text-center shadow-2xl space-y-4 relative px-5 py-6 mx-5" >
    
    <!-- Close Button -->
    <button
      class="absolute top-3 right-3 text-gray-400 hover:text-gray-700 cursor-pointer"
      (click)="cancel.emit()"
    >
      ✕
    </button>

    <!-- Text -->
    <div class="space-y-2">
      <h2 class="text-2xl font-bold text-gray-800">{{ title }}</h2> 
      <p class="text-sm text-gray-600">
        {{ subtitle }} <strong>{{ personName }}</strong>{{ subtitle.startsWith('Deseja') ? '?' : '' }}
      </p>
    </div>

    <div class="px-6 py-4 ">
      <div *ngIf="(actionType === 'approve' && documentType !== 'facial' && documentType !== 'documento') && hasCard === true" class="flex flex-col gap-2">
        <label class="text-xs font-bold text-gray-500 uppercase">Data de Validade</label>
        <input 
          type="date" 
          name="validade"
          [(ngModel)]="validade"
          (change)="validade = $any($event.target).value"
          class="w-full p-2.5 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 outline-none bg-white text-sm"
        />
      </div>

      <div *ngIf="actionType === 'disapprove'" class="flex flex-col gap-2">
        <label class="text-xs font-bold text-gray-500 uppercase">Motivo da Rejeição</label>
        <textarea 
          [(ngModel)]="motivo"
          rows="3"
          placeholder="Ex: Documento com baixa visibilidade ou vencido..."
          class="w-full p-2.5 border border-gray-300 rounded-lg text-gray-500 focus:ring-2 focus:ring-red-500 outline-none bg-white text-sm"
        ></textarea>
      </div>

    </div>

    <!-- Button -->
    <app-button type="submit" [loading]="loading" (click)="onConfirm()">
      {{ loading ? 'Salvando...' : 'Confirmar' }}
    </app-button>
  </div>
</div>


