<div 
  *ngIf="showModal"
  class="fixed inset-0 flex items-center justify-center bg-black/80 backdrop-blur-sm z-50"
>
  <div class="bg-white rounded-2xl p-6 w-80 text-center shadow-2xl space-y-4 relative">
    
    <!-- Close Button -->
    <button
      class="absolute top-3 right-3 text-gray-400 hover:text-gray-700"
      (click)="cancel.emit()"
    >
      ✕
    </button>

    <!-- Text -->
    <div class="space-y-2">
      <h2 class="text-2xl font-bold text-gray-800">{{ title }}</h2> 
      <p class="text-sm text-gray-600">{{ subtitle }} <strong>{{ peopleForDeletName }}</strong></p>
    </div>
    
    <!-- Button -->
    <app-button
      buttonText="Excluir usuário" 
      type="submit"
      (click)="confirm.emit()">
    </app-button>
  </div>
</div>


