<form 
  *ngIf="showModal"
  #emailForm="ngForm" 
  (ngSubmit)="onSubmit(emailForm)"
  class="fixed inset-0 flex items-center justify-center bg-black/80 backdrop-blur-sm z-50"
>
  <div class="bg-white rounded-2xl p-6 w-80 text-center shadow-2xl space-y-4 relative">
    
    <!-- Close Button -->
    <button
      class="absolute top-3 right-3 text-gray-400 hover:text-gray-700 cursor-pointer"
      (click)="onClose()"
    >
      ✕
    </button>

    <!-- Text -->
    <div class="space-y-2">
      <h2 class="text-2xl font-bold text-gray-800">Recuperar senha</h2>
      <p class="text-sm text-gray-600">Um e-mail de recuperação será enviado para o e-mail abaixo!</p>
    </div>
    
    <!-- E-mail Input -->
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Digite seu e-mail"
      required
      class="w-full mt-1 px-4 py-2 border rounded-lg shadow-sm text-sm text-gray-600 border-gray-400 focus:ring focus:outline-none"    
    />

    <!-- Button -->
    <app-button type="submit" [loading]="loading">
      {{ loading ? 'Salvando...' : 'Enviar' }}
    </app-button>
    
    <p class="text-sm text-gray-500 mt-2">Dúvidas? (99) 9 9999-9999</p>
  </div>
</form>
