<header class="sticky top-0 w-full bg-black text-white p-4 z-20">
  <nav class="flex items-center justify-between lg:px-5">
    <img src="logo.png" class="h-9 inline-block mr-4" />

    <ul class="flex justify-end items-center gap-5 lg:gap-10">
      <li *ngIf="isAdmin"><a href="/RegistrarPessoa">Cadastro</a></li>

      <!-- Links just to admin -->
      <li *ngIf="isAdmin"><a href="/ListarPessoa">Listagem</a></li>
      <li *ngIf="isAdmin"><a href="/ValidacaoDocumentos">Validação de Documentos</a></li>

      <a href="/VerificarFacial" 
        (click)="logout()" 
        class="bg-white p-2 rounded-xl w-20 text-center text-black hover:bg-gray-100 transition">
        Sair
      </a>
    </ul>
  </nav>
</header>
