<div class="fixed inset-0 flex items-center justify-center bg-black/80 backdrop-blur-sm z-50">
  <div class="relative bg-white rounded-lg shadow-lg w-auto px-5 py-6 mx-5 ">
    
    <!-- Close Button -->
    <button
      class="absolute top-2 right-2 text-gray-400 hover:text-gray-700 text-xl font-bold cursor-pointer"
      (click)="closeModal()"
      aria-label="Fechar modal"
    >
      ✕
    </button>
    
    <div class="bg-white rounded-xl w-full max-w-6xl max-h-[90vh] overflow-hidden flex flex-col">
    
    <h2 class="text-xl font-bold">Análise Geral dos Documentos: {{ person.nomeCompleto }}</h2>

    <div class="flex-1 overflow-y-auto pt-5 grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="border border-gray-400 rounded-lg p-2 flex flex-col items-center gap-3">
        <span class="font-bold mb-2">Captura Facial</span>
        <img [src]="arquivosTodos.facial" class="max-h-60 object-contain" *ngIf="arquivosTodos.facial">
      </div>

      <div class="border border-gray-400 rounded-lg p-2 flex flex-col items-center gap-3">
        <span class="font-bold mb-2">Documento</span>
        <iframe [src]="arquivosTodos.documentoUrl" class="w-full h-60" *ngIf="arquivosTodos.isDocumentoPdf"></iframe>
        <img [src]="arquivosTodos.documentoUrl" class="max-h-60" *ngIf="!arquivosTodos.isDocumentoPdf">
      </div>

      <div class="border border-gray-400 rounded-lg p-2 flex flex-col items-center gap-3">
        <span class="font-bold mb-2">Carteirinha</span>
        <iframe [src]="arquivosTodos.carteirinhaUrl" class="w-full h-60" *ngIf="arquivosTodos.isCarteirinhaPdf"></iframe>
        <img [src]="arquivosTodos.carteirinhaUrl" class="max-h-60" *ngIf="!arquivosTodos.isCarteirinhaPdf">
      </div>
    </div>

    <!-- Approve and disapprove buttons 
    <div class="flex items-center justify-center gap-4 pt-5">
      <button 
        class="bg-green-600 text-white text-sm font-semibold py-2 px-4 rounded-lg hover:bg-green-700  cursor-pointer"
        (click)="openModal('approve')"
      >
        Aprovar
      </button>

      <button 
        class="bg-red-600 text-white text-sm font-semibold py-2 px-4 rounded-lg hover:bg-red-700  cursor-pointer"
        (click)="openModal('disapprove')"
      >
        Desaprovar
      </button>
    </div>
    -->
    <!-- Confirmation Modal
    <app-confirmation-modal
      [showModal]="showModal"
      [title]="title"
      [subtitle]="subtitle"
      [personName]="person.nomeCompleto"
      (confirm)="confirmAction($event)"
      (cancel)="closeModal()"
      [actionType]="actionType"
    ></app-confirmation-modal>
       -->
  </div>
</div>
