<div class="fixed inset-0 flex items-center justify-center bg-black/80 backdrop-blur-sm z-[9999]">
  <div class="relative bg-white rounded-xl shadow-2xl w-full max-w-6xl mx-5 flex flex-col max-h-[92vh]">
    
    <button
      class="absolute top-4 right-4 text-gray-400 hover:text-gray-700 text-2xl font-bold cursor-pointer z-10"
      (click)="closeModal()"
      aria-label="Fechar modal"
    >
      ✕
    </button>
    
    <div class="px-8 pt-6 pb-2">
      <h2 class="text-xl font-bold text-gray-800 tracking-tight">Análise Geral dos Documentos</h2>
      <div class="flex items-center gap-3 mt-1">
        <p class="text-sm text-gray-600 font-semibold">{{ person.nomeCompleto }}</p>
        <span class="text-gray-300">|</span>
        <p class="text-sm text-gray-500 font-medium">
          <span class="font-bold  uppercase">
            {{ person.tipo === 'cpf' ? 'CPF' : 'Passaporte' }}:
          </span> 
          {{ person.documento }}
        </p>
      </div>
    </div>

    <div class="flex-1 overflow-y-auto px-8 py-4 custom-scrollbar">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        
        <div class="flex flex-col items-center">
          <p class="text-sm font-bold text-gray-500 mb-3 uppercase tracking-wider w-full">Captura Facial</p>
          <div class="w-full border-2 border-gray-100 rounded-xl overflow-hidden bg-gray-50 shadow-sm h-[350px] flex items-center justify-center">
            <img *ngIf="arquivosTodos.facial" [src]="arquivosTodos.facial" 
                 class="w-full h-full object-contain">
            <div *ngIf="!arquivosTodos.facial" class="p-5 text-center text-gray-400 text-sm italic">
              Não enviada
            </div>
          </div>
        </div>

        <div class="flex flex-col items-center">
          <div class="w-full flex justify-between items-end mb-3">
            <p class="text-sm font-bold text-gray-500 uppercase tracking-wider">Documento</p>
            
            <div class="flex gap-1" *ngIf="arquivosTodos.urlDocVerso && !arquivosTodos.isDocumentoPdf">
              <button (click)="ladoDoc = 'frente'" 
                      class="px-3 py-1 text-[10px] font-bold rounded shadow transition-all"
                      [ngClass]="ladoDoc === 'frente' ? 'bg-black text-white' : 'bg-white text-gray-500 border border-gray-100'">
                FRENTE
              </button>
              <button (click)="ladoDoc = 'verso'" 
                      class="px-3 py-1 text-[10px] font-bold rounded shadow transition-all"
                      [ngClass]="ladoDoc === 'verso' ? 'bg-black text-white' : 'bg-white text-gray-500 border border-gray-100'">
                VERSO
              </button>
            </div>
          </div>

          <div class="w-full border-2 border-gray-200 rounded-xl overflow-auto bg-gray-50 shadow-sm relative h-[350px] custom-scrollbar">
            <iframe *ngIf="arquivosTodos.isDocumentoPdf && arquivosTodos.urlDocFrente" 
                    [src]="getSafeUrl(arquivosTodos.urlDocFrente)" 
                    class="w-full h-full border-none"></iframe>

            <ng-container *ngIf="!arquivosTodos.isDocumentoPdf && arquivosTodos.urlDocFrente">
              <img [src]="ladoDoc === 'frente' ? arquivosTodos.urlDocFrente : arquivosTodos.urlDocVerso" 
                   class="object-contain transition-transform duration-300 origin-top-left cursor-zoom-in min-h-full"
                   [ngStyle]="{ 
                     'transform': zoomDoc ? 'scale(2.5)' : 'scale(1)',
                     'width': zoomDoc ? '250%' : '100%'
                   }"
                   (click)="zoomDoc = !zoomDoc">
            </ng-container>

            <div *ngIf="!arquivosTodos.urlDocFrente" class="flex items-center justify-center h-full text-gray-400 text-sm italic">
              Não enviado
            </div>
          </div>

          <p *ngIf="!arquivosTodos.isDocumentoPdf && arquivosTodos.urlDocFrente" 
            class="text-[10px] text-gray-400 mt-2 text-center italic tracking-wide">
            Clique na imagem para {{ zoomDoc ? 'remover' : 'aplicar' }} o zoom
          </p>
        </div>

        <div class="flex flex-col items-center">
          <div class="w-full flex justify-between items-end mb-3">
            <p class="text-sm font-bold text-gray-500 uppercase tracking-wider">Carteirinha</p>
            
            <div class="flex gap-1" *ngIf="arquivosTodos.urlCardVerso && !arquivosTodos.isDocumentoPdf">
              <button (click)="ladoCard = 'frente'" 
                      class="px-3 py-1 text-[10px] font-bold rounded shadow transition-all"
                      [ngClass]="ladoCard === 'frente' ? 'bg-black text-white' : 'bg-white text-gray-500 border border-gray-100'">
                FRENTE
              </button>
              <button (click)="ladoCard = 'verso'" 
                      class="px-3 py-1 text-[10px] font-bold rounded shadow transition-all"
                      [ngClass]="ladoCard === 'verso' ? 'bg-black text-white' : 'bg-white text-gray-500 border border-gray-100'">
                VERSO
              </button>
            </div>
          </div>

          <div class="w-full border-2 border-gray-200 rounded-xl overflow-auto bg-gray-50 shadow-sm relative h-[350px] custom-scrollbar">
            <iframe *ngIf="arquivosTodos.isDocumentoPdf && arquivosTodos.urlCardFrente" 
                    [src]="getSafeUrl(arquivosTodos.urlCardFrente)" 
                    class="w-full h-full border-none"></iframe>

            <ng-container *ngIf="!arquivosTodos.isDocumentoPdf && arquivosTodos.urlCardFrente">
              <img [src]="ladoCard === 'frente' ? arquivosTodos.urlCardFrente : arquivosTodos.urlCardVerso" 
                   class="object-contain transition-transform duration-300 origin-top-left cursor-zoom-in min-h-full"
                   [ngStyle]="{ 
                     'transform': zoomCard ? 'scale(2.5)' : 'scale(1)',
                     'width': zoomCard ? '250%' : '100%'
                   }"
                   (click)="zoomCard = !zoomCard">
            </ng-container>

            <div *ngIf="!arquivosTodos.urlCardFrente" class="flex items-center justify-center h-full text-gray-400 text-sm italic">
              Não enviada
            </div>
          </div>

          <p *ngIf="!arquivosTodos.isDocumentoPdf && arquivosTodos.urlCardFrente" 
            class="text-[10px] text-gray-400 mt-2 text-center italic tracking-wide">
            Clique na imagem para {{ zoomCard ? 'remover' : 'aplicar' }} o zoom
          </p>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center gap-4 py-5 border-t border-gray-100">
      <button 
        *ngIf="person.statusCarteirinha !== 'Carteirinha Aprovada' && person.statusDocumento !== 'Documento Aprovado'"
        class="bg-green-600 text-white text-sm font-semibold py-2 px-8 rounded-lg hover:bg-green-700 shadow-md transition-colors cursor-pointer"
        (click)="openModal('approve')"
      >
        Aprovar Tudo
      </button>
    </div>

    <app-confirmation-modal
      [showModal]="showModal"
      [title]="title"
      [subtitle]="subtitle"
      [personName]="person.nomeCompleto"
      [hasCard]="temCarteirinha"
      [actionType]="actionType"
      (confirm)="confirmAction($event)"
      (cancel)="closeModal()"
    ></app-confirmation-modal>

  </div>
</div>