<article class="min-h-screen flex flex-col items-center justify-center bg-gray-100 p-5">
  <!-- Logo -->
  <img src="logo.png" class="h-13 md:h-15 inline-block mr-4">

  <section class="bg-white p-10 m-5 rounded-2xl shadow-lg max-w-sm w-full">
    <!-- Title -->
    <h1 class="text-3xl font-extrabold text-gray-900 mb-6 text-center">{{ headerTitle }}</h1>

    <!-- Forms -->
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="flex flex-col gap-5">

      <div *ngFor="let field of fields">
        <label [for]="field.name" class="text-sm font-medium text-black">
          {{ field.label }}
        </label>
        
        <ng-container *ngIf="field.type !== 'password'; else passwordField">
          <input
            [type]="field.type"
            [id]="field.name"
            [name]="field.name"
            [placeholder]="field.placeholder"
            ngModel
            [required]="field.required"
            class="w-full mt-1 px-4 py-2 border rounded-lg shadow-sm text-sm text-gray-600 border-gray-400 focus:ring focus:outline-none"
          >
        </ng-container>

        <ng-template #passwordField>
          <div class="relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              [id]="field.name"
              [name]="field.name"
              [placeholder]="field.placeholder"
              ngModel
              [required]="field.required"
              class="w-full mt-1 px-4 py-2 border rounded-lg shadow-sm text-sm text-gray-600 border-gray-400 focus:ring focus:outline-none pr-10"
            />

            <!-- Ícone olho -->
            <button
              type="button"
              (click)="togglePassword()"
              class="absolute right-3 top-6 transform -translate-y-1/2 text-gray-500 hover:text-black"
            >
              <img
                [src]="showPassword ? '/hide.png' : '/view.png'"
                alt="Mostrar senha"
                class="w-5 h-5"
              />
            </button>
          </div>
        </ng-template>
      </div>

      <!-- Button -->
      <app-button type="submit" [loading]="loading">
        {{ loading ? 'Salvando...' : 'Entrar' }}
      </app-button>
    </form>

    <!-- Link SignUp -->
    <p *ngIf="linkText && text" class="mt-6 text-sm text-gray-600 text-center">
      <span>{{ text }} </span>
      <button type="button" (click)="onLinkClick()" class="text-black hover:underline font-medium cursor-pointer">
        {{ linkText }}
      </button>
    </p>

  </section>
</article>
