<div >
  <h2 class="text-2xl text-center font-bold my-4 md:text-start">Captura Facial</h2>
  
  <!-- Active Capture -->
  <div 
    *ngIf="showFaceCapture"
    class="mt-4">
      <div class="w-full bg-white rounded-lg shadow-lg p-6">
        <!-- Start Button (appears only if there is no captured image) -->
        <div *ngIf=" homeCapture && !imagecaptured" class="flex justify-center">
          <button class="w-full bg-black text-white text-sm py-2 px-4 rounded-lg font-semibold cursor-pointer hover:bg-gray-900 transition disabled:bg-gray-200 disabled:text-gray-500 disabled:cursor-not-allowed"
                  (click)="startCapture()"
                   >
            Iniciar Captura
          </button>
        </div>

        <!-- Camera (only appears if capturing and the image has not been sent) -->
        <div *ngIf="showCamera" class="flex flex-col items-center relative w-full max-w-sm">

          <!-- Container que segura vídeo + canvas -->
          <div class="relative w-full">

            <!-- Vídeo -->
            <video 
              #video 
              autoplay 
              playsinline 
              class="w-full rounded-lg"
            ></video>

            <!-- Canvas por cima do vídeo -->
            <canvas 
              #overlayCanvas 
              class="absolute top-0 left-0 w-full h-full pointer-events-none"
            ></canvas>

          </div>

          <!-- Botão de capturar -->
          <button
            class="w-full bg-black text-white text-sm py-2 px-4 rounded-lg font-semibold cursor-pointer hover:bg-gray-900 transition mt-4"
            id="captureButton"
            (click)="captureImage()"
          >
            Capturar
          </button>

          <!-- Mensagem para o usuário -->
          <div class="text-center text-red-600 mt-4">
           Posicione seu rosto dentro do círculo.
          </div>
        </div>

        <!-- Captured image (preview da foto) -->
        <div *ngIf="imagecaptured" class="flex flex-col items-center mt-4 space-y-2">
          <img [src]="imagecaptured" class="w-full max-h-80 max-w-sm rounded-lg" /> 

          <!-- Buttons only appear after capturing image -->
          <div class="flex flex-col w-full space-y-2" *ngIf="imagecaptured">
            <!-- Submit button (appears only if facialIntegrada === 'S') -->
            <div *ngIf="getButtonState().showSend">
              <button
                class="w-full bg-black text-white text-sm py-2 px-4 rounded-lg font-semibold flex items-center justify-center cursor-pointer hover:bg-gray-900 transition"
                (click)="sendImage()"
                >
                Enviar
              </button>
            </div>

            <div *ngIf="getButtonState().showRepeat">
              <button
                class="w-full bg-yellow-400 text-white text-sm py-2 px-4 rounded-lg font-semibold cursor-pointer hover:bg-yellow-500 transition"
                (click)="repeatCapture()"
                >
                Repetir Captura
              </button>
            </div>
          </div>

          <!-- Validation Status -->
          <div *ngIf="isEditMode && (facialIntegrada === 'N' && integracaoOcorrencia === 'Aguardando Validação') || (errorImagem === false && this.facialIntegrada !== '' && this.integracaoOcorrencia !== '')" class="flex items-center  gap-2">
            <label class="text-sm font-medium text-gray-700"> 
              Status:
            </label>
            
            <p class="text-sm font-semibold"
            [ngClass]="{
              'text-green-600': facialIntegrada === 'S',
     'text-red-600': facialIntegrada !== 'S'
            }">
              {{ integracaoOcorrencia }}
            </p>
          </div>
        </div>
      </div>
  </div>
</div>