<div >
  <h2 class="text-2xl font-bold my-4">Captura Facial</h2>
  
  <!-- Active Capture -->
  <div 
    *ngIf="showFaceCapture; else disabledCapture"
    class="mt-4">
      <div class="w-full bg-white rounded-lg shadow-lg p-6">

        <!-- Start Button (appears only if there is no captured image) -->
        <div *ngIf="homeCapture && !imagecaptured" class="flex justify-center">
          <button class="w-full bg-black text-white text-sm py-2 px-4 rounded-lg font-semibold cursor-pointer hover:bg-gray-900 transition disabled:bg-gray-200 disabled:text-gray-500 disabled:cursor-not-allowed"
                  (click)="startCapture()"
                  [disabled]="isAdmin"  >
            Iniciar Captura
          </button>
        </div>

        <!-- Camera (only appears if capturing and the image has not been sent) -->
        <div *ngIf="showCamera && !imageSent" class="flex flex-col items-center">
          <video #video autoplay playsinline class="w-full max-w-sm rounded-lg mb-4"></video>
          <button class="w-full bg-black text-white text-sm py-2 px-4 rounded-lg font-semibold cursor-pointer hover:bg-gray-900 transition"
                  (click)="captureImage()">
            Capturar
          </button>
        </div>

        <!-- Captured image (preview da foto) -->
        <div *ngIf="imagecaptured" class="flex flex-col items-center mt-4 space-y-2">
          <img [src]="imagecaptured" class="w-full max-w-sm rounded-lg" />

          <!-- Buttons only appear after capturing image -->
          <div class="flex flex-col w-full space-y-2" *ngIf="imagecaptured">
            <!-- Submit button (appears only if facialIntegrada === 'S') -->
            <div *ngIf="getButtonState().showSend">
              <button
                class="w-full bg-black text-white text-sm py-2 px-4 rounded-lg font-semibold flex items-center justify-center cursor-pointer hover:bg-gray-900 transition"
                (click)="sendImage()"
                [disabled]="getButtonState().disabled">
                Enviar
              </button>
            </div>

            <div *ngIf="getButtonState().showRepeat">
              <!-- Retake Capture Button -->
              <button
              
                class="w-full bg-yellow-400 text-white text-sm py-2 px-4 rounded-lg font-semibold cursor-pointer hover:bg-yellow-500 transition"
                (click)="repeatCapture()"
                [disabled]="getButtonState().disabled">
                Repetir Captura
              </button>
            </div>
          </div>

          <!-- Validation Status -->
          <div *ngIf="isEditMode  && integracaoOcorrencia !== 'Rosto integrado com sucesso.'" class="flex items-center  gap-2">
            <label class="text-sm font-medium text-gray-700">
              Status:
            </label>
            
            <p class="text-sm font-semibold text-red-600">
              {{ integracaoOcorrencia }}
            </p>
  
            <!--
            <p
              class="text-sm font-semibold"
              [ngClass]="{
                'text-green-600': facialIntegrada === 'S',
                'text-red-600': facialIntegrada !== 'S'
              }"
            >
              {{ integracaoOcorrencia }}
            </p>
            -->
          </div>
        </div>
      </div>
  </div>

  <!-- Disabled Capture  -->
  <ng-template #disabledCapture>
    <div class="bg-white rounded-xl shadow-lg h-[400px] flex flex-col justify-center items-center gap-2">
      <!-- Icon -->
      <img src="close.png" alt="Upload Icon" class="w-8 h-8 text-gray-500 mb-2"/>
      <span class="text-gray-400 text-sm font-medium text-center">
        Salve os seus dados primeiro para liberar <br />
        a captura facial.
      </span>
    </div>
  </ng-template>
</div>