<ng-template #content> 
  <div>
    <div class="my-4">
      <h2 class="text-2xl text-center sm:text-start font-bold">Anexar Documento</h2>
      <p class="text-black text-start text-sm mt-1">
        Documentos com fotos aceitos: Passaporte, Identidade e CNH.
      </p>
      <p class="text-black text-start text-sm mt-1 md:text-start">
        Para <span class="font-bold">menores de até 12 anos</span>, anexe a certidão de nascimento.
      </p>
    </div>

    <div class="bg-white rounded-xl shadow-lg p-6 h-auto flex flex-col justify-center items-center gap-2">
      <!-- Upload Area  && !imagePreview -->
      <ng-container *ngIf="(person.statusDocumento === 'Documento Rejeitado' || person.statusDocumento === 'Documento Não enviado(a)') && !imagePreview && !arquivoUrlDocumento">
        <div
          class="flex flex-col items-center justify-center w-full h-40 border-2 border-dashed rounded-lg border-gray-400 bg-gray-50 opacity-50 cursor-pointer"
          [ngClass]="{
            'cursor-not-allowed': isViewMode,
            'cursor-pointer': !isViewMode
          }"
          (click)="fileInput.click()"
        >
          <img src="exit.png" alt="Upload Icon" class="w-9 h-9 mb-2"/>

          <span class="text-gray-600 text-sm font-medium text-center px-5" *ngIf="isViewMode">
            Usuário administrador — envio de documento desabilitado.
          </span>
          
          <span class="text-gray-600 text-sm font-medium text-center p-5" *ngIf="!isViewMode">
            Clique para selecionar o documento aqui
          </span>

          <input
            #fileInput
            type="file"
            accept=".pdf,image/*"
            class="hidden "
            [disabled]="isViewMode"
            (change)="onFileSelected($event)"
          />
        </div>
      </ng-container>

      <!-- Preview -->
      <div  class="w-full flex flex-col items-center">
      
        <!-- IMAGEM -->
        <ng-container *ngIf="!isPdf && (imagePreview || arquivoUrlDocumento)">
          <img
            [src]="(imagePreview || arquivoUrlDocumento) | safeUrl"
            alt="Pré-visualização do Documento"
            class="mb-4 flex flex-col items-center justify-center max-h-35 w-auto rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 p-4"
          />
        </ng-container>

        <!-- PDF -->
        <ng-container *ngIf="isPdf && arquivoUrlDocumento">
          <iframe
            [src]="arquivoUrlDocumento | safeUrl"
            class="mb-2 w-full max-h-35 rounded-lg border-2 border-gray-300"
            frameborder="0"
          >
          </iframe>
        </ng-container>
        <!-- <p class="text-xs text-gray-500 mt-2">Pré-visualização do documento</p>-->

        <app-button
          *ngIf="getButtonState().showSend"
            type="button"
            (click)="sendImage()"
            class="mt-2 w-full"
            >
            Enviar Documento
        </app-button>
        
        <app-button
            *ngIf="getButtonState().showDelete"
            type="button"
            (click)="deleteDocument()"
            class="mt-2  w-full"
        >
            Apagar Documento Anterior
        </app-button>
        
        <button 
          *ngIf="getButtonState().showRepeat"
          class="w-full bg-yellow-400 text-white text-sm mt-2 py-2 px-4 rounded-lg font-semibold cursor-pointer hover:bg-yellow-500 transition"
          type="button" (click)="resetUpload()"
          >
            Enviar outro documento
        </button>
      </div>

      <!-- Status -->
      <div class="flex flex-col gap-1 sm:flex-row items-center" *ngIf="person.statusDocumento && !isDocumentsPage">
        <div class="flex gap-2">
          <label class="text-sm font-medium text-gray-700"> 
            Status:
          </label>
          <p class="text-sm font-semibold"
            [ngClass]="{
              'text-green-600': person.statusDocumento === 'Documento Aprovado',
              'text-red-600': person.statusDocumento !== 'Documento Aprovado'
            }">
            {{ person.statusDocumento }}
          </p>
        </div>
        
        <ng-container *ngIf="person.statusDocumento === 'Documento Rejeitado' && person.motivoRejeicaoDocumento">
          <div class="flex gap-2">
            <span class="text-sm text-gray-700">Motivo:</span>
            <span class="text-sm font-medium text-red-600">{{ person.motivoRejeicaoDocumento }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<!-- LOADING -->
<ng-container *ngIf="isLoading && isDocumentsPage; else content">
  <div class="w-[350px]">
    <div class="my-4">
      <div class="h-6 bg-gray-300 rounded w-[200px] mb-3 mx-auto sm:mx-0"></div> 
      <div class="h-4 bg-gray-200 rounded w-full mb-1"></div> 
      <div class="h-4 bg-gray-200 rounded w-full mt-1"></div> 
    </div>

    <div class="bg-white rounded-xl shadow-lg p-6 h-auto flex flex-col justify-center items-center gap-4 w-full">
      <div class="flex flex-col items-center justify-center w-full h-40 border-2 border-dashed rounded-lg border-gray-200 bg-gray-50"></div> 
      <div class="h-8 bg-gray-200 rounded w-full"></div> 
    </div>
  </div>
</ng-container>


