<ng-template #content> 
  <div>
    <div class="my-4">
      <h2 class="text-2xl text-center sm:text-start font-bold">Anexar Documento</h2>
      <p class="text-black text-start text-sm mt-1">
        Documentos com fotos aceitos: Passaporte, Identidade e CNH.
      </p>
      <p class="text-black text-start text-sm mt-1 md:text-start">
        Para <span class="font-bold">menores de até 12 anos</span>, anexe a certidão de nascimento.
      </p>
    </div>

    <div class="bg-white rounded-xl shadow-lg p-6 h-auto flex flex-col gap-4">
      <div class="flex flex-col sm:flex-row gap-4 w-full" *ngIf="!arquivoUrlDocumento && !isPdf">
        <div class="flex-1">
          <div *ngIf="!imagePreviewFrente"
            class="flex flex-col items-center justify-center h-32 border-2 border-dashed rounded-lg border-gray-400 bg-gray-50 opacity-60 cursor-pointer hover:opacity-100 transition-all"
            (click)="!isViewMode && fileInputFrente.click()">
            <img src="exit.png" class="w-8 h-8 mb-1 opacity-50"/>
            <p class="text-xs font-semibold mt-1">Frente do Documento</p>
            <input #fileInputFrente type="file" accept="image/*,.pdf" class="hidden" (change)="onFileSelected($event, 'frente')" />
          </div>

          <div *ngIf="imagePreviewFrente" class="flex flex-col items-center flex-1">
            <div class="w-full h-32 border-2 border-dashed border-gray-300 rounded-lg overflow-hidden bg-gray-50 flex items-center justify-center">
              <img [src]="imagePreviewFrente | safeUrl" class="max-h-[85%] w-full object-contain" />
            </div>
            <p class="text-xs font-semibold mt-1">Frente</p>
          </div>
        </div>

        <div class="flex-1">
          <div *ngIf="!imagePreviewVerso"
            class="flex flex-col items-center justify-center h-32 border-2 border-dashed rounded-lg border-gray-400 bg-gray-50 opacity-60 cursor-pointer hover:opacity-100 transition-all"
            (click)="!isViewMode && fileInputVerso.click()">
            <img src="exit.png" class="w-8 h-8 mb-1 opacity-50"/>
            <p class="text-xs font-semibold mt-1">Verso do Documento</p>
            <input #fileInputVerso type="file" accept="image/*,.pdf" class="hidden" (change)="onFileSelected($event, 'verso')" />
          </div>

          <div *ngIf="imagePreviewVerso" class="flex flex-col items-center flex-1">
            <div class="w-full h-32 border-2 border-dashed border-gray-300 rounded-lg overflow-hidden bg-gray-50 flex items-center justify-center"> 
              <img [src]="imagePreviewVerso | safeUrl" class="max-h-[85%] w-full object-contain" />
            </div>
            <p class="text-xs font-semibold mt-1">Verso</p>
          </div>
        </div>

      </div>

      <div class="w-full" *ngIf="isPdf && (imagePreviewPDF || arquivoUrlDocumento)">
        <iframe 
          [src]="(imagePreviewPDF || arquivoUrlDocumento) | safeUrl" 
          class="w-full h-64 rounded-lg border-2 border-gray-300"
          frameborder="0">
        </iframe>
      </div>

      <div class="flex flex-col gap-2 w-full mt-2">
        <app-button *ngIf="getButtonState().showSend" (click)="sendImage()" class="w-full">
          Enviar Documento
        </app-button>
        
        <button *ngIf="getButtonState().showRepeat" (click)="resetUpload()"
          class="w-full bg-yellow-400 text-white text-sm py-2 rounded-lg font-semibold hover:bg-yellow-500 transition cursor-pointer">
          Enviar outro Documento
        </button>

        <app-button *ngIf="getButtonState().showDelete" (click)="deleteDocument()" class="w-full">
          Apagar Documento Anterior
        </app-button>
      </div>

      <!-- Status -->
      <div class="flex flex-col gap-1 items-center" *ngIf="person.statusDocumento && !isDocumentsPage">
        <div class="flex gap-2">
          <label class="text-sm font-medium text-gray-700"> 
            Status:
          </label>
          <p class="text-sm font-semibold"
            [ngClass]="{
              'text-green-600': person.statusDocumento === 'Documento Aprovado',
              'text-red-600': person.statusDocumento !== 'Documento Aprovado'
            }">
            {{ person.statusDocumento }}
          </p>
        </div>
        
        <ng-container *ngIf="person.statusDocumento === 'Documento Rejeitado' && person.motivoRejeicaoDocumento">
          <div class="flex gap-2">
            <span class="text-sm text-gray-700">Motivo:</span>
            <span class="text-sm font-medium text-red-600">{{ person.motivoRejeicaoDocumento }}</span>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</ng-template>

<!-- LOADING -->
<ng-container *ngIf="isLoading && isDocumentsPage; else content">
  <div class="w-[350px]">
    <div class="my-4">
      <div class="h-6 bg-gray-300 rounded w-[200px] mb-3 mx-auto sm:mx-0"></div> 
      <div class="h-4 bg-gray-200 rounded w-full mb-1"></div> 
      <div class="h-4 bg-gray-200 rounded w-full mt-1"></div> 
    </div>

    <div class="bg-white rounded-xl shadow-lg p-6 h-auto flex flex-col justify-center items-center gap-4 w-full">
      <div class="flex flex-col items-center justify-center w-full h-40 border-2 border-dashed rounded-lg border-gray-200 bg-gray-50"></div> 
      <div class="h-8 bg-gray-200 rounded w-full"></div> 
    </div>
  </div>
</ng-container>


