<app-header></app-header>

<article class="min-h-screen flex items-start justify-center bg-gray-100"> 
  <section class="flex flex-col lg:flex-row gap-6 m-5">

    <!-- Register People Form -->
    <div class="w-full">
      <h1 class="text-2xl font-bold my-4">{{ pageTitle }}</h1>

      <form #registerPeopleForms="ngForm" (ngSubmit)="onSubmit(registerPeopleForms)"
        class="flex flex-col gap-6 bg-white rounded-xl shadow-lg p-6">

        <!-- Personal Data -->
        <fieldset class="border border-gray-300 rounded-lg p-4">
          <legend class="text-lg font-bold px-2">Dados Pessoais</legend>
          
          <!-- Name and Date of birth -->
          <div class="flex flex-col sm:flex-row gap-4 mt-4"> 
            <!-- Name -->
            <div class="w-full">
              <label for="nomeCompleto" class="text-sm font-medium text-black">Nome Completo</label>
              <input type="text" id="nomeCompleto" name="nomeCompleto" [(ngModel)]="person.nomeCompleto" #nomeCompleto="ngModel" required
                placeholder="Nome completo"
                class="w-full mt-1 px-4 py-2 border rounded-lg text-sm text-gray-600 border-gray-400 focus:ring focus:outline-none"
                [ngClass]="{'border-red-500': nomeCompleto.invalid && registerPeopleForms.submitted}">
            </div>
            
            <!-- Date of birth  -->
            <div class="w-full">
              <label for="dataNascimento" class="text-sm font-medium text-black">Data de Nascimento</label>
              <input type="date" id="dataNascimento" name="dataNascimento" [(ngModel)]="person.dataNascimento"
                #dataNascimento="ngModel" required
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
                [ngClass]="{'border-red-500': dataNascimento.invalid && registerPeopleForms.submitted}"
                [ngModel]="person.dataNascimento | date:'yyyy-MM-dd'"
                > 
            </div>
          </div>

          <!-- Other personal data -->
          <div class="flex flex-col sm:flex-row gap-4 mt-4">
            <!-- Select Documents -->
            <div class="lg:w-1/2">
              <label for="tipo" class="text-sm font-medium text-black">Documento</label>
              <select
                id="tipo"
                name="tipo"
                [(ngModel)]="person.tipo"
                #tipo="ngModel"
                required
                class="w-full mt-1 px-4 py-2 border rounded-lg shadow-sm text-sm text-gray-600 border-gray-400 focus:ring focus:outline-none disabled:bg-gray-200 disabled:text-gray-500"
                [ngClass]="{'border-red-500': tipo.invalid && registerPeopleForms.submitted}"
                [disabled]="isEditMode">
                
                <option value="" disabled selected>Escolha uma opção</option>
                <option value="cpf">CPF</option>
                <option value="passaporte">Passaporte</option>
              </select>
            </div>
              
            <!-- Input -->
            <div *ngIf="person.tipo" class="w-full" >
              <label for="documento" class="text-sm font-medium text-black">
                Digite {{ person.tipo === 'cpf' ? (person.tipo | uppercase) : (person.tipo | titlecase) }}
              </label>
              <input
                type="text"
                id="documento"
                name="documento"
                [(ngModel)]="person.documento"
                #documento="ngModel"
                [mask]="person.tipo === 'cpf' ? '000.000.000-00' : ''"
                [pattern]="person.tipo === 'passaporte' ? '^[A-Za-z]{2}[0-9]{6}$' : ''"
                placeholder="{{ person.tipo === 'cpf' ? 'Ex: 123.456.789-00' : 'Ex: AB123456' }}"
                maxlength="{{ person.tipo === 'passaporte' ? 8 : null }}"
                class="w-full mt-1 px-4 py-2 border rounded-lg shadow-sm text-sm text-gray-600 border-gray-400 focus:ring focus:outline-none disabled:bg-gray-200 disabled:text-gray-500"
                [ngClass]="{'border-red-500': documento.invalid && registerPeopleForms.submitted}"
                required
                [disabled]="isEditMode">
            </div>
            
            <!-- Celular -->
            <div class="w-full">
              <label for="celular" class="text-sm font-medium text-black">Celular</label>
              <input type="text" id="celular" name="celular" [(ngModel)]="person.celular" #celular="ngModel" required
                placeholder="Ex: (00) 00000-0000" mask="(00) 00000-0000"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
                [ngClass]="{'border-red-500': celular.invalid && registerPeopleForms.submitted}">
            </div>
          </div>
        </fieldset>

        <!-- Credentials -->
        <fieldset class="border border-gray-300 rounded-lg p-4">
          <legend class="text-lg font-bold px-2">Credenciais para Login</legend>

          <div class="flex flex-col sm:flex-row gap-4">
            <!-- E-mail -->
            <div class="w-full">
              <label for="email" class="text-sm font-medium text-black">Email</label>
              <input type="email" id="email" name="email" [(ngModel)]="person.email" #email="ngModel" required
                placeholder="email@gmail.com"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none disabled:bg-gray-200 disabled:text-gray-500"
                [ngClass]="{'border-red-500': email.invalid && registerPeopleForms.submitted}"
                [disabled]="isEditMode">
            </div>

            <!-- Password -->
            <div class="w-full">
              <label for="senha" class="text-sm font-medium text-black">Senha</label>
              <input type="password" id="senha" name="senha" [(ngModel)]="person.senha" #senha="ngModel"
                placeholder="Digite uma senha"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none disabled:bg-gray-200 disabled:text-gray-500"
                [ngClass]="{'border-red-500': senha.invalid && registerPeopleForms.submitted}"
                [required]="!isEditMode"
                >
            </div>
          </div>
        </fieldset>

        <!-- Parents' details -->
        <fieldset class="border border-gray-300 rounded-lg p-4">
          <legend class="text-lg font-bold px-2">Dados dos Pais</legend>

          <div class="flex flex-col sm:flex-row gap-4">
            <div class="w-full">
              <label for="nomePai" class="text-sm font-medium text-black">Nome do Pai</label>
              <input type="text" id="nomePai" name="nomePai" [(ngModel)]="person.nomePai" 
                placeholder="Nome do Pai"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
              >
							</div>

            <div class="w-full">
              <label for="nomeMae" class="text-sm font-medium text-black">Nome da Mãe</label>
              <input type="text" id="nomeMae" name="nomeMae" [(ngModel)]="person.nomeMae" #nomeMae="ngModel" required
                placeholder="Nome da Mãe"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': nomeMae.invalid && registerPeopleForms.submitted}">
							</div>
          </div>
        </fieldset>

        <!-- Address -->
        <fieldset class="border border-gray-300 rounded-lg p-4">
          <legend class="text-lg font-bold px-2">Endereço</legend>

          <div class="flex flex-col sm:flex-row gap-4">
            <div class="w-full">
              <label for="logradouro" class="text-sm font-medium text-black">Logradouro</label>
              <input type="text" id="logradouro" name="logradouro" [(ngModel)]="person.logradouro" #logradouro="ngModel" required
							  placeholder="Ex: Av. Brasil" 
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': logradouro.invalid && registerPeopleForms.submitted}">
						</div>

            <div class="w-full sm:w-1/4">
              <label for="numero" class="text-sm font-medium text-black">Número</label>
              <input type="text" id="numero" name="numero" [(ngModel)]="person.numero" #numero="ngModel" required
							  placeholder="Ex: 123"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': numero.invalid && registerPeopleForms.submitted}">
						</div>
          </div>

          <div class="flex flex-col sm:flex-row gap-4 mt-4">
            <div class="w-full">
              <label for="bairro" class="text-sm font-medium text-black">Bairro</label>
              <input type="text" id="bairro" name="bairro" [(ngModel)]="person.bairro" #bairro="ngModel" required
								placeholder="Ex: Centro"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': bairro.invalid && registerPeopleForms.submitted}"
                >
						</div>

            <div class="w-full">
              <label for="cidade" class="text-sm font-medium text-black">Cidade</label>
              <input type="text" id="cidade" name="cidade" [(ngModel)]="person.cidade" #cidade="ngModel" required
							  placeholder="Ex: São Paulo"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': cidade.invalid && registerPeopleForms.submitted}">
						</div>

            <div class="w-full sm:w-1/2">
              <label for="estado" class="text-sm font-medium text-black">Estado</label>
              <select
                id="estado"
                name="estado"
                [(ngModel)]="person.estado"
                #estado="ngModel"
                required
                class="w-full mt-1 px-4 py-2 border rounded-lg shadow-sm text-sm text-gray-600 border-gray-400 focus:ring focus:outline-none disabled:bg-gray-200 disabled:text-gray-500"
                [ngClass]="{'border-red-500': estado.invalid && registerPeopleForms.submitted}">
                
                <option value="" disabled selected>Selecione</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
              </select>
            </div>
          </div>
        </fieldset>

        <!-- Checkbox -->
        <div class="flex items-center gap-2">
          <input type="checkbox" id="declaration" [(ngModel)]="declarationChecked" name="declaration"/>
          <label for="declaration" class="text-sm text-gray-700">
            Declaro estar ciente e de acordo com a 
            <a href="https://apifacial.achetickets.com.br/termo" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline">
              Política de Uso
            </a> e
            <a href="https://apifacial.achetickets.com.br/termo" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline">
              Privacidade
            </a>.
          </label>
        </div>

        <!-- General error message -->
        <p *ngIf="registerPeopleForms.submitted && registerPeopleForms.invalid" class="text-red-500 text-sm text-center mt-2">
          Por favor, preencha todos os campos em vermelho corretamente.
        </p>

        <!-- Button -->
        <app-button type="submit" [loading]="loading" buttonText={{buttonTitle}}>
          {{ loading ? 'Salvando...' : 'Salvar' }}
        </app-button>

      </form>
    </div>


    <!-- Facial Field -->
    <div class="flex flex-col gap-5 lg:w-1/2">
      <div>
        <h2 class="text-2xl font-bold my-4">Captura Facial</h2>

        <!-- Status Validation -->
        <div *ngIf="isEditMode" class="flex items-center gap-2">
          <label class="text-sm font-medium text-gray-700">
            Status da Validação:
          </label>
          
          <p
            class="text-sm font-semibold"
            [ngClass]="{
              'text-green-600': person.statusValidacao === 'Aprovado',
              'text-red-600': person.statusValidacao === 'Reprovado',
              'text-gray-500': !person.statusValidacao || person.statusValidacao === 'Pendente'
            }"
          >
            {{ person.statusValidacao || 'Pendente' }}
          </p>
        </div>

        <!-- Active Capture -->
        <div 
            *ngIf="showFaceCapture; else disabledCapture">
          <app-face-capture></app-face-capture>
        </div>

        <!-- Disabled Capture  -->
        <ng-template #disabledCapture>
          <div class="bg-white rounded-xl shadow-lg h-[400px] flex flex-col justify-center items-center gap-2">
            <!-- Icon -->
            <img src="close.png" alt="Upload Icon" class="w-8 h-8 text-gray-500 mb-2"/>
            <span class="text-gray-600 text-sm font-medium text-center">
              Captura facial desativada
            </span>
            <span class="text-gray-400 text-sm">
              Envie os dados primeiro para liberar a captura facial.
            </span>
          </div>
        </ng-template>
      </div>

      <!-- Document Upload -->
      <div>
        <div class="my-4">
          <h2 class="text-2xl font-bold">Anexar Documento</h2>
          <p class="text-black text-sm mt-1">
            Documentos com fotos aceitos: Passaporte, Identidade e CNH.
          </p>
        </div>

        <div class="bg-white rounded-xl shadow-lg p-6 h-auto flex flex-col justify-center items-center gap-4">
          <!-- Upload Area -->
          <ng-container *ngIf="!previewUrl">
            <div
              class="flex flex-col items-center justify-center w-full h-40 border-2 border-dashed border-gray-400 rounded-lg bg-gray-50 opacity-50 cursor-not-allowed"
            >
              <img src="exit.png" alt="Upload Icon" class="w-9 h-9 text-gray-500 mb-2"/>
              <span class="text-gray-600 text-sm font-medium">Envio de documentos desativado</span>
              <span class="text-gray-600 text-sm">Campo em desenvolvimento</span> <!--Cadastre-se primeiro para poder enviar o documento.-->

              <input
                #fileInput
                type="file"
                accept="image/*,.pdf"
                class="hidden"
                [disabled]="true"
                (change)="onFileSelected($event)"
              />
            </div>

          </ng-container>

          <!-- Preview -->
          <div *ngIf="previewUrl" class="mt-4 w-full flex flex-col items-center">
            <!-- Mostra imagem se não for PDF -->
            <ng-container *ngIf="!isPdf; else pdfPreview">
              <img
                [src]="previewUrl"
                alt="Preview"
                class="max-h-40 rounded-lg border border-gray-300"
              />
            </ng-container>
            
            <!-- Mostra ícone genérico se for PDF -->
            <ng-template #pdfPreview>
              <div class="flex flex-col items-center">
                <svg class="w-12 h-12 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7l-5-5H6z"/>
                </svg>
                <p class="text-sm text-gray-600 mt-1">Arquivo PDF selecionado</p>
              </div>
            </ng-template>

            <p class="text-xs text-gray-500 mt-2">Pré-visualização do documento</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
