<app-header></app-header>

<article class="min-h-screen flex items-start justify-center bg-gray-100"> 
  <section class="flex flex-col lg:flex-row gap-6 m-5">

    <!-- Register People Form -->
    <div class="w-full">
      <h1 class="text-2xl font-bold my-4">{{ pageTitle }}</h1>

      <form #registerPeopleForms="ngForm" (ngSubmit)="onSubmit(registerPeopleForms)"
        class="flex flex-col gap-6 bg-white rounded-xl shadow-lg p-6">

        <!-- Personal Data -->
        <fieldset class="border border-gray-300 rounded-lg p-4">
          <legend class="text-lg font-bold px-2">Dados Pessoais</legend>
          
          <!-- Name and Date of birth -->
          <div class="flex flex-col sm:flex-row gap-4 mt-4"> 
            <!-- Name -->
            <div class="w-full">
              <label for="nomeCompleto" class="text-sm font-medium text-black">Nome Completo</label>
              <input type="text" id="nomeCompleto" name="nomeCompleto" [(ngModel)]="person.nomeCompleto" #nomeCompleto="ngModel" required
                placeholder="Nome completo"
                class="w-full mt-1 px-4 py-2 border rounded-lg text-sm text-gray-600 border-gray-400 focus:ring focus:outline-none"
                [ngClass]="{'border-red-500': nomeCompleto.invalid && registerPeopleForms.submitted}">
            </div>
            
            <!-- Date of birth  -->
            <div class="w-full">
              <label for="dataNascimento" class="text-sm font-medium text-black">Data de Nascimento</label>
              <input type="date" id="dataNascimento" name="dataNascimento" [(ngModel)]="person.dataNascimento"
                #dataNascimento="ngModel" required
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
                [ngClass]="{'border-red-500': dataNascimento.invalid && registerPeopleForms.submitted}">
            </div>
          </div>

          <!-- Other personal data -->
          <div class="flex flex-col sm:flex-row gap-4 mt-4">
            <!-- Select Documents -->
            <div>
              <label for="tipo" class="text-sm font-medium text-black">Documento</label>
              <select
                id="tipo"
                name="tipo"
                [(ngModel)]="person.tipo"
                #tipo="ngModel"
                required
                class="w-full mt-1 px-4 py-2 border rounded-lg shadow-sm text-sm text-gray-600 border-gray-400 focus:ring focus:outline-none"
                [ngClass]="{'border-red-500': tipo.invalid && registerPeopleForms.submitted}"
                required
                >
                <option value="" disabled>Escolha uma opção</option>
                <option value="cpf">CPF</option>
                <option value="passaporte">Passaporte</option>
              </select>
            </div>
              
            <!-- Input que aparece dinamicamente -->
            <div *ngIf="person.tipo" class="w-full" >
              <label for="documento" class="text-sm font-medium text-black">
                Digite {{ person.tipo | uppercase }}
              </label>
              <input
                type="text"
                id="documento"
                name="documento"
                [(ngModel)]="person.documento"
                #documento="ngModel"
                [mask]="person.tipo === 'cpf' ? '000.000.000-00' : '00000000000'"
                placeholder="{{ person.tipo === 'cpf' ? 'Ex: 123.456.789-00' : 'Ex: 12345678900' }}"
                class="w-full mt-1 px-4 py-2 border rounded-lg shadow-sm text-sm text-gray-600 border-gray-400 focus:ring focus:outline-none"
                [ngClass]="{'border-red-500': documento.invalid && registerPeopleForms.submitted}"
                required
              />
            </div>
            
            <!-- Celular -->
            <div class="w-full">
              <label for="celular" class="text-sm font-medium text-black">Celular</label>
              <input type="text" id="celular" name="celular" [(ngModel)]="person.celular" #celular="ngModel" required
                placeholder="Ex: (00) 00000-0000" mask="(00) 00000-0000"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
                [ngClass]="{'border-red-500': celular.invalid && registerPeopleForms.submitted}">
            </div>
          </div>
        </fieldset>

        <!-- Credentials -->
        <fieldset class="border border-gray-300 rounded-lg p-4">
          <legend class="text-lg font-bold px-2">Credenciais para Login</legend>

          <div class="flex flex-col sm:flex-row gap-4">
            <!-- E-mail -->
            <div class="w-full">
              <label for="email" class="text-sm font-medium text-black">Email</label>
              <input type="email" id="email" name="email" [(ngModel)]="person.email" #email="ngModel" required
                placeholder="email@gmail.com"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
                [ngClass]="{'border-red-500': email.invalid && registerPeopleForms.submitted}">
            </div>

            <!-- Password -->
            <div class="w-full">
              <label for="senha" class="text-sm font-medium text-black">Senha</label>
              <input type="password" id="senha" name="senha" [(ngModel)]="person.senha" #senha="ngModel" required
                placeholder="Digite uma senha"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
                [ngClass]="{'border-red-500': senha.invalid && registerPeopleForms.submitted}">
            </div>
          </div>
        </fieldset>

        <!-- parents' details -->
        <fieldset class="border border-gray-300 rounded-lg p-4">
          <legend class="text-lg font-bold px-2">Dados dos Pais</legend>

          <div class="flex flex-col sm:flex-row gap-4">
            <div class="w-full">
              <label for="nomePai" class="text-sm font-medium text-black">Nome do Pai</label>
              <input type="text" id="nomePai" name="nomePai" [(ngModel)]="person.nomePai" #nomePai="ngModel" required
                placeholder="Nome do Pai"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': nomePai.invalid && registerPeopleForms.submitted}">
							</div>

            <div class="w-full">
              <label for="nomeMae" class="text-sm font-medium text-black">Nome da Mãe</label>
              <input type="text" id="nomeMae" name="nomeMae" [(ngModel)]="person.nomeMae" #nomeMae="ngModel" required
                placeholder="Nome da Mãe"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': nomeMae.invalid && registerPeopleForms.submitted}">
							</div>
          </div>
        </fieldset>

        <!-- Address -->
        <fieldset class="border border-gray-300 rounded-lg p-4">
          <legend class="text-lg font-bold px-2">Endereço</legend>

          <div class="flex flex-col sm:flex-row gap-4">
            <div class="w-full">
              <label for="logradouro" class="text-sm font-medium text-black">Logradouro</label>
              <input type="text" id="logradouro" name="logradouro" [(ngModel)]="person.logradouro" #logradouro="ngModel" required
							  placeholder="Ex: Av. Brasil" 
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': logradouro.invalid && registerPeopleForms.submitted}">
							</div>

            <div class="w-full">
              <label for="numero" class="text-sm font-medium text-black">Número</label>
              <input type="text" id="numero" name="numero" [(ngModel)]="person.numero" #numero="ngModel" required
							  placeholder="Ex: 123"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': numero.invalid && registerPeopleForms.submitted}">
							</div>

            <div class="w-full">
              <label for="bairro" class="text-sm font-medium text-black">Bairro</label>
              <input type="text" id="bairro" name="bairro" [(ngModel)]="person.bairro" #bairro="ngModel" required
								placeholder="Ex: Centro"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': bairro.invalid && registerPeopleForms.submitted}">
							</div>
          </div>

          <div class="flex flex-col sm:flex-row gap-4 mt-4">
            <div class="w-full">
              <label for="cidade" class="text-sm font-medium text-black">Cidade</label>
              <input type="text" id="cidade" name="cidade" [(ngModel)]="person.cidade" #cidade="ngModel" required
							  placeholder="Ex: São Paulo"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': cidade.invalid && registerPeopleForms.submitted}">
						</div>

            <div class="w-full">
              <label for="estado" class="text-sm font-medium text-black">Estado</label>
              <input type="text" id="estado" name="estado" [(ngModel)]="person.estado" #estado="ngModel" required
							  placeholder="Ex: SP"
                class="w-full mt-1 px-4 py-2 border text-sm rounded-lg text-gray-600 border-gray-400 focus:ring focus:outline-none"
								[ngClass]="{'border-red-500': estado.invalid && registerPeopleForms.submitted}">
						</div>
          </div>
        </fieldset>

        <!-- General error message -->
        <p *ngIf="registerPeopleForms.submitted && registerPeopleForms.invalid" class="text-red-500 text-sm text-center mt-2">
          Por favor, preencha todos os campos em vermelho corretamente.
        </p>

        <!-- Button -->
        <app-button
          buttonText={{buttonTitle}}
          type="submit">
        </app-button>
      </form>
    </div>

    <!-- Facial Field and Document Upload -->
    <div class="flex flex-col gap-5 lg:w-1/2">
      <!-- Facial FIeld -->
      <div>
        <h2 class="text-2xl font-bold my-4">Captura Facial</h2>
        <div class="bg-white rounded-xl shadow-lg p-6 h-[400px]">
          <p class="text-black text-sm">Esta seção é reservada para o reconhecimento facial. Em breve, implementaremos essa funcionalidade.</p>
        </div>
      </div>

      <!-- Document Upload -->
      <div>
        <div class="my-4">
          <h2 class="text-2xl font-bold">Anexar de Documento</h2>
          <p class="text-black text-sm mt-1">
            Documentos com fotos aceitos: Passaporte, Identidade e CNH.
          </p>
        </div>

        <div class="bg-white rounded-xl shadow-lg p-6 h-auto flex flex-col justify-center items-center gap-4">
          <!-- Upload Area -->
          <ng-container *ngIf="!previewUrl">
            <div
              class="flex flex-col items-center justify-center w-full h-40 border-2 border-dashed border-gray-400 rounded-lg bg-gray-50 hover:bg-gray-100 transition cursor-pointer"
              (dragover)="isEditMode ? onDragOver($event) : $event.preventDefault()"
              (dragleave)="isEditMode ? onDragLeave($event) : $event.preventDefault()"
              (drop)="isEditMode ? onFileDropped($event) : $event.preventDefault()"
              (click)="isEditMode ? fileInput.click() : null"
              [ngClass]="{
                'cursor-not-allowed opacity-50': !isEditMode,
                'bg-gray-100': isDragOver && isEditMode,
                'cursor-pointer': isEditMode
              }"
            >
              <svg
                class="w-10 h-10 text-gray-500 mb-2"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 16V4a2 2 0 012-2h6a2 2 0 012 2v12m-4-4l-4 4m0 0l-4-4m4 4V4"
                />
              </svg>

              <span class="text-gray-600 text-sm">{{ isEditMode ? 'Clique ou arraste um arquivo para anexar seu documento' : 'Envio de documentos desativado' }}</span>
              <span class="text-gray-600 text-sm">{{ isEditMode ? '' : 'Cadastre-se primeiro para poder enviar o documento.' }}</span>

              <input
                #fileInput
                type="file"
                accept="image/*,.pdf"
                class="hidden"
                (change)="onFileSelected($event)"
                [disabled]="!isEditMode"
              />
            </div>
          </ng-container>

          <!-- Preview -->
          <div *ngIf="previewUrl" class="mt-4 w-full flex flex-col items-center">
            <!-- Mostra imagem se não for PDF -->
            <ng-container *ngIf="!isPdf; else pdfPreview">
              <img
                [src]="previewUrl"
                alt="Preview"
                class="max-h-40 rounded-lg border border-gray-300"
              />
            </ng-container>
            
            <!-- Mostra ícone genérico se for PDF -->
            <ng-template #pdfPreview>
              <div class="flex flex-col items-center">
                <svg class="w-12 h-12 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7l-5-5H6z"/>
                </svg>
                <p class="text-sm text-gray-600 mt-1">Arquivo PDF selecionado</p>
              </div>
            </ng-template>

            <p class="text-xs text-gray-500 mt-2">Pré-visualização do documento</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
