<!-- Loading -->
<app-loading *ngIf="isLoading"></app-loading>

<article *ngIf="!isLoading">
  <app-header></app-header>

  <section class="min-h-screen md:flex md:items-start md:justify-center bg-gray-100 overflow-hidden">
    <div class="m-5 overflow-x-auto">

      <div class="flex flex-col sm:flex-row items-center justify-between mb-5 gap-4">
        <h1 class="text-2xl font-bold text-gray-900">Validação de Documentos</h1>
        <app-filter class="w-full sm:w-auto" (search)="onFilter($event)"></app-filter>
      </div>

      <app-table
        [fields]="[
          { name: 'nomeCompleto', label: 'Nome' },
          { name: 'email', label: 'Email' },
          { name: 'celular', label: 'Celular' },
          { name: 'tipo', label: 'Tipo' },
          { name: 'documento', label: 'Documento' },
          { name: 'dataEnvioFacial', label: 'Envio da Facial' },
          { name: 'statusDocs', label: 'Documentos Validados?' },
        ]"
        [data]="filteredPeople"
        [actionType]="'select'"
      >
      </app-table>
    </div>
  </section>
</article>
