<div class="fixed inset-0 flex items-center justify-center bg-black/80 backdrop-blur-sm z-50">
  <div class="relative bg-white rounded-lg shadow-lg w-auto px-5 py-6 mx-5 ">
    
    <!-- Close Button -->
    <button
      class="absolute top-2 right-2 text-gray-400 hover:text-gray-700 text-xl font-bold cursor-pointer"
      (click)="closeModal()"
      aria-label="Fechar modal"
    >
      ✕
    </button>
    
    <!-- Document Image -->
    <div class="p-4 overflow-y-auto w-auto max-h-[80vh] custom-scrollbar">
      @if (isPdf) {
        <div class="w-full h-[600px]">
          <iframe [src]="arquivoUrl! | safeUrl" class="w-full h-full rounded-lg border"></iframe>
        </div>
      } 
      
      @else {
        <div class="flex flex-col gap-6 items-center ">
          <div class="w-full max-w-sm">
            <p class="text-sm font-bold text-gray-500 mb-2 uppercase tracking-wider">Frente do Documento</p>
            <div class="border-2 border-gray-200 rounded-xl overflow-auto shadow-sm bg-gray-50 max-h-[400px] custom-scrollbar">
              <img 
                [src]="arquivoUrlFrente | safeUrl" 
                class="w-full h-auto object-contain transition-transform duration-300 origin-top-left cursor-zoom-in"
                [ngStyle]="{ transform: zoomFrente ? 'scale(2.5)' : 'scale(1)' }"
                (click)="zoomFrente = !zoomFrente"
                alt="Frente"
              >
            </div>
            <p class="text-[10px] text-gray-400 mt-1 text-center italic">Clique na imagem para aplicar/remover o zoom</p>
          </div>

          @if (arquivoUrlVerso) {
            <div class="w-full max-w-sm mt-6">
              <p class="text-sm font-bold text-gray-500 mb-2 uppercase tracking-wider">Verso do Documento</p>
              <div class="border-2 border-gray-200 rounded-xl overflow-auto shadow-sm bg-gray-50 max-h-[400px] custom-scrollbar">
                <img 
                  [src]="arquivoUrlVerso | safeUrl" 
                  class="w-full h-auto object-contain transition-transform duration-300 origin-top-left cursor-zoom-in"
                  [ngStyle]="{ transform: zoomVerso ? 'scale(2.5)' : 'scale(1)' }"
                  (click)="zoomVerso = !zoomVerso"
                  alt="Verso"
                >
              </div>
              <p class="text-[10px] text-gray-400 mt-1 text-center italic">Clique na imagem para aplicar/remover o zoom</p>
            </div>
          } @else {
            <div class="p-4 bg-gray-50 rounded-lg text-gray-400 text-sm border border-dashed">
              Nenhuma imagem de verso anexada para este documento.
            </div>
          }
        </div>
      }
    </div>

    <!-- Approve and disapprove buttons -->
    <div class="flex items-center justify-center gap-4 pt-5">
      <button 
        *ngIf="person.statusDocumento !== 'Documento Aprovado'"
        class="bg-green-600 text-white text-sm font-semibold py-2 px-4 rounded-lg hover:bg-green-700  cursor-pointer"
        (click)="openModal('approve')"
      >
        Aprovar
      </button>

      <button 
        class="bg-red-600 text-white text-sm font-semibold py-2 px-4 rounded-lg hover:bg-red-700  cursor-pointer"
        (click)="openModal('disapprove')"
      >
        Recusar
      </button>
    </div>
    
    <!-- Confirmation Modal -->
    <app-confirmation-modal
      [showModal]="showModal"
      [title]="title"
      [subtitle]="subtitle"
      [personName]="person.nomeCompleto"
      (confirm)="confirmAction($event)"
      (cancel)="closeModal()"
      [documentType]="documentType"
      [actionType]="actionType"
    ></app-confirmation-modal>
  </div>

</div>
