<article class="min-h-screen flex flex-col">
  <app-header></app-header>

  <article class="flex-1 flex items-start justify-center bg-gray-100">   
    <section class="flex flex-col justify-center md:flex-row md:items-end text-center gap-7 w-full m-5">
      
      <div class="md:max-w-md ">
        <app-file-upload 
          *ngIf="person"
          [person]="person"
          [isEditMode]="isEditMode"
          (documentSelected)="onDocumentSelected($event)">
        </app-file-upload>
      </div>

      <div class="md:w-sm">
        <app-card-upload 
          *ngIf="person"
          [person]="person"
          [isEditMode]="isEditMode"
          (cardSelected)="onCardSelected($event)">
        </app-card-upload>
      </div>
    
      <ng-container *ngIf="!isLoading; else nextSkeleton">
        <a class="flex flex-col items-center self-end md:self-start md:m-5 transition-all" 
          [ngClass]="{
            'cursor-pointer opacity-100': (documentUploaded || cardUploaded),
            'cursor-not-allowed opacity-40': !documentUploaded && !cardUploaded
          }"
          [href]="(documentUploaded || cardUploaded) ? '/CapturaFacial' : null"
        >
          <img src="arrow-right.png" class="w-9 h-9" >
          <p class="text-sm font-medium">Próximo</p>
        </a>
      </ng-container>

      <ng-template #nextSkeleton>
        <div class="flex flex-col items-center self-end md:self-start md:m-5 animate-pulse">
          <div class="w-9 h-9 bg-gray-300 rounded-full mb-1"></div>
          <div class="h-4 bg-gray-200 rounded w-12"></div>
        </div>
      </ng-template>
    </section>
  </article>
</article>