@import "tailwindcss";
@import "ngx-toastr/toastr";

* {
  box-sizing: border-box;
}

.toast-center-screen {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed !important;
}



