<button
  [type]="type"
  [disabled]="loading || disabled"
  class="w-full bg-black text-white text-sm py-2 px-4 rounded-lg font-semibold flex items-center justify-center cursor-pointer hover:bg-gray-900 transition disabled:opacity-70 disabled:cursor-not-allowed"
>
  <ng-container *ngIf="!loading; else loadingTemplate">
    <ng-content></ng-content>
  </ng-container>

  <ng-template #loadingTemplate>
    <div class="flex items-center space-x-2">
      <span
        class="h-4 w-4 border-2 border-white border-t-transparent rounded-full animate-spin"
      ></span>
      <span>Carregando...</span>
    </div>
  </ng-template>
</button>
