<div class="overflow-x-auto">
  <table class="min-w-full bg-white rounded-xl shadow-lg overflow-hidden border border-gray-200">
    <thead class="bg-black text-white">
      <tr>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Nome Completo</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Data Nasc.</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">E-mail</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Celular</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Documento</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Tipo</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Nome do Pai</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Nome da Mãe</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Logradouro</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Número</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Bairro</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Cidade</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Estado</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Perfil</th>
        <th class="py-2 px-4 text-center uppercase text-xs font-semibold tracking-wider">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of peopleList" class="bg-white hover:bg-gray-50 border-b border-gray-200 transition-colors duration-150">
        <td class="py-2 px-4 text-sm text-center" title="{{ person.name }}">{{ person.name }}</td>
        <td class="py-2 px-4 text-sm text-center" title="{{ person.dateOfBirth }}">{{ person.dateOfBirth }}</td>
        <td class="py-2 px-4 text-sm text-center" title="{{ person.email }}">{{ person.email }}</td>
        <td class="py-2 px-4 text-sm text-center" title="{{ person.phone }}">{{ person.phone }}</td>
        <td class="py-2 px-4 text-sm text-center" title="{{ person.cpf }}">{{ person.cpf }}</td>
        <td class="py-2 px-4 text-sm text-center" title="{{ person.road }}">{{ person.road }}</td>
        <td class="py-2 px-4 text-sm text-center" title="{{ person.district }}">{{ person.district }}</td>
        <td class="py-2 px-4 text-sm text-center" title="{{ person.number }}">{{ person.number }}</td>
        <td class="py-2 px-4 text-sm text-center" title="{{ person.cep }}">{{ person.cep }}</td>
        <td class="py-2 px-4 text-sm text-center" title="{{ person.city }}">{{ person.city }}</td>
        <td class="py-2 px-4 text-sm text-center">{{ person.state }}</td>
        <td class="">
          <!-- Edit Button -->
          <button 
            class="p-1 relative cursor-pointer"
            (click)="onEdit(person.id)"
          >
            <img src="{{person.edit}}" alt="Editar {{person.name}}" class="w-4 h-5" />
            <span class="absolute bottom-full mb-1 left-1/2 -translate-x-1/2 hidden group-hover:block bg-gray-900 text-white text-xs rounded px-2 py-1 whitespace-nowrap">
              Editar
            </span>
          </button>

          <!-- Delete Button -->
          <button 
            class="p-1 relative cursor-pointer"
            (click)="onDelete(person.id)"
          >
            <img src="{{person.delet}}" alt="Deletar {{person.name}}" class="w-5 h-5" />
            <span class="absolute bottom-full mb-1 left-1/2 -translate-x-1/2 hidden group-hover:block bg-gray-900 text-white text-xs rounded px-2 py-1 whitespace-nowrap">
              Deletar
            </span>
          </button>
        </td>
    </tr>
  </tbody>
</table>
