<div class="overflow-x-auto ">
  <table class="min-w-full border border-gray-200 rounded-lg shadow overflow-hidden">
    <!-- Header -->
    <thead class="bg-black text-white">
      <tr>
        <th *ngFor="let col of fields" class="py-3 px-4 text-center uppercase text-xs font-semibold tracking-wider">
          {{ col.label }}
        </th>
        <th class="py-3 px-4 text-center uppercase text-xs font-semibold tracking-wider">Ações</th>
      </tr>
    </thead>
    
    <!-- Body Table -->
    <tbody>
      <tr *ngFor="let person of data" class="bg-white hover:bg-gray-100 transition-colors duration-200 border-b border-gray-200">
        <td *ngFor="let col of fields" 
          class="py-2 px-4 text-center text-sm text-gray-700 truncate"
          title="{{ person[col.name] }}">
          
          <!-- Verify if column is document or facial -->
          <ng-container *ngIf="col.name === 'arquivoFacial' else normalField">
            <a 
              (click)="openFacial(person.id);
              $event.preventDefault()"
              target="_blank" 
              class="text-blue-600 hover:underline">
              Abrir {{ col.label }}
            </a>
          </ng-container>

          <!-- Normal field -->
          <ng-template #normalField>
            {{ person[col.name] }}
          </ng-template>

        </td>
        
        <!-- Actions -->
        <td class="py-2 px-4 flex justify-center gap-2">
          
          <!-- Buttons -->
          <ng-container *ngIf="actionType === 'buttons'">
            <button
              *ngFor="let action of actions"
              [ngClass]="{
                'bg-green-500 hover:bg-green-600': action.toLowerCase() === 'aprovar',
                'bg-red-500 hover:bg-red-600': action.toLowerCase() === 'reprovar'
              }"
              class="px-3 py-1 rounded-lg text-white font-medium text-sm shadow hover:shadow-md transition-all duration-150"
              (click)="onAction(action, person.id)">
              {{ action | titlecase }}
            </button>
          </ng-container>

          <!-- Icons -->
          <ng-container *ngIf="actionType === 'icons'">
            <button 
              *ngIf="actions.includes('editar')" 
              (click)="onAction('editar', person.id)">
              <img src="/pencil.png" alt="Editar" class="w-5 h-5">
            </button>
            <button 
              *ngIf="actions.includes('deletar')" 
              (click)="onAction('deletar', person.id)">
              <img src="/trash.png" alt="Deletar" class="w-5 h-5">
            </button>
          </ng-container>

        </td>
      </tr>
    </tbody>
    
  </table>
</div>
